{% extends "admin_panel/layout.html" %}

{% block content %}
    <h2>Product Management</h2>
    <div class="box box-primary" style="margin-top: 20px">
        <div>
            <div class="box-header with-border">
                  <h3 class="box-title">Product Registration</h3>
            </div>

            <form role="form" method="post" action="/admin/insert-product" enctype="multipart/form-data">
              <div class="box-body">

                <div class="form-group">
                  <label for="txtId">ID</label>
                  <input type="number" class="form-control" id="txtId" name="txtId" placeholder="ID" disabled>
                </div>

                <div class="form-group">
                  <label for="txtName">Name</label>
                  <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Enter Name">
                </div>

                <div class="form-group">
                  <label for="txtDescription">Description</label>
                  <input type="text" class="form-control" id="txtDescription" name="txtDescription" placeholder="Enter Description">
                </div>

                <div class="form-group">
                  <label for="selectCategory">Category</label>
                      <select class="form-control" id="selectCategory" name="selectCategory" placeholder="Enter Quantity">
                        {% for item in category_list %}
                          <option>{{ item.0 }}</option>
                        {% endfor %}
                      </select>
                </div>

                <div class="form-group">
                  <label for="txtQuantity">Quantity</label>
                  <input type="number" class="form-control" id="txtQuantity" name="txtQuantity" placeholder="Enter Quantity">
                </div>

                <div class="form-group">
                  <label for="txtPrice">Price</label>
                  <input type="number" class="form-control" id="txtPrice" name="txtPrice" placeholder="Enter Price">
                </div>

                <div class="form-group">
                    <label for="fileImage">Image</label>
                    <input type="file" class="form-control-file" id="fileImage" name="fileImage" required>
                </div>
              </div>

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
        </div>

    </div>
{% endblock %}