<!DOCTYPE html>
    <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body> 
        <div class="container-fluid">
            <div class="row" style="padding: 20px;">
                <div class="col-md-6">
                    <img src="../static/images/flask.png" style="width: 200px;">
                </div>
                <div class="col-md-6" style="text-align: right;">
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">              
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                              <a class="nav-link" href="/login/admin">Home</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="/category/1">Category</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="/service/FixedComputer">Service</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="/addStock/5">AddStock</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="/product/5">Product</a>
                            </li>
                          </ul>
        
                          <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2" style="padding: 20px;">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#">Produt 1</a>
                        <a class="nav-link" href="#">Produt 2</a>
                        <a class="nav-link" href="#">Produt 3</a>
                        <a class="nav-link" href="#">Produt 4</a>
                        <a class="nav-link" href="#">Produt 5</a>
                        <a class="nav-link" href="#">Produt 6</a>
                    </nav>
                </div>
                <div class="col-md-10" style="padding: 20px;">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col" style="text-align: center;">
                    <p>Copyright. Tang Seakmeng</p>
                </div>
            </div>
        </div>

        <script src="" async defer></script>
    </body>
</html>